@font-face {
    font-family: 'KodReg';
    src: url('resources/Kodchasan-Regular.ttf');
}

@font-face {
    font-family: 'KodItalic';
    src: url('resources/Kodchasan-Italic.ttf');
}

@font-face {
    font-family: 'KodBold';
    src: url('resources/Kodchasan-Bold.ttf');
}

@font-face {
    font-family: 'KodBoldItalic';
    src: url('resources/Kodchasan-BoldItalic.ttf');
}    

@font-face {
    font-family: 'KodMedium';
    src: url('resources/Kodchasan-Medium.ttf');
}

@font-face {
    font-family: 'KodMediumItalic';
    src: url('resources/Kodchasan-MediumItalic.ttf');
}



body{
    background-color: #131217;
}

button{
    background-color: #7f66f0;
    color: #eef0ef;
    font-family: KodMedium;
    font-size: 240%;
    border: none;
    border-radius: 20px;
    padding: 0.7%;
}

input{
    font-family: KodItalic;
    font-size: 240%;
    border: none;
    border-radius: 5px;
    width: 50%;
    color: gray;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.6%;
    padding-bottom: 0.6%;
    background-color: #2F2D39;
}

label{
    color: #D90368;
    font-family: KodMedium;
    font-size: 1000%;
    display: block;
    text-align: center;
}

div{
    text-align: center;
}

.labelDiv{
    padding-bottom: 10%;
}

.inputDiv{
    padding-bottom: 3%;
}
